<div class="top_level_div">
    <div class="container">
        <div class="row center-align" *ngFor="#section of sections">
            <div class="col s12">
                <i class="large material-icons">{{ section.icon }}</i>
                <h4>{{ section.header }}</h4>
                <p>{{ section.description }}</p>
                <ccc-map *ngIf="section.extra == 'map'"></ccc-map>
                <rego-form *ngIf="section.extra == 'form'"></rego-form>
            </div>
        </div>
    </div>
</div>