<div class="header_image">
    <div class="container">
        <div class="row">
            <div class="col s12 center-align">
                <h1 class="white-text thin">Penang Annual Bible Camp 2017</h1>
                <p class="white-text light">{{ description }}</p>
                <section class="header_action">
                    <a class="waves-effect btn blue">Register</a>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="another_section">
    <div class="container">
        
    </div>
</div>